<app-tab-router (onCloseTab)="closeTab($event)" [index]="index" [tabs]="tabs"></app-tab-router>
<ng-template #serviceList>
  <app-servicelist [reload]="reload" (onCreate)="create()" (onEdit)="edit($event)" (onView)="view($event)" (onDisable)="disable($event)"></app-servicelist>
</ng-template>
<ng-template #serviceDetail let-service="service" let-readonly="readonly">
  <app-servicedetail [service]="service" [readonly]="readonly" (afterSave)="closeTabAndReload(index, $event)"></app-servicedetail>
</ng-template>
