<nz-select style="width:100%" nzAllowClear="true"
    [(ngModel)]="selectedOption" 
    [nzDisabled]="disabled"
    (ngModelChange)="modelChange($event)"
    nzPlaceHolder="{{ placeholder | translate}}">
    <ng-container *ngFor="let item of selectList">
        <nz-option *ngIf="!loading" [nzValue]="item.name" nzLabel="{{'backend.' + item.name |  translate}}"></nz-option>
    </ng-container>
    <nz-option *ngIf="loading" nzDisabled nzCustomContent>
        <i nz-icon nzType="loading" class="loading-icon"></i>{{'frontend.loading' | translate}}
    </nz-option>
</nz-select>
