<!-- <p style="font-size:12px;color:rgba(0, 0, 0, 0.85);margin-bottom:16px;font-weight: 500;">
        Fullscreen setting guide for IOS Safari:
    </p> -->
<nz-card nzType="inner" nzTitle="1. Tap the Share button">
    <img style="width:100%" src="./assets/img/iphone-guide1.jpg">
</nz-card>
<nz-card nzType="inner" style="margin-top:16px;" nzTitle="2. Tap Add to Home Screen">
    <img style="width:100%" src="./assets/img/iphone-guide2.jpg">
</nz-card>

<nz-card nzType="inner" style="margin-top:16px;" nzTitle="3. Tap Add to complete adding">
    <img style="width:100%" src="./assets/img/iphone-guide3.jpg">
</nz-card>

<nz-card nzType="inner" style="margin-top:16px;" nzTitle="4. Tap the Icon on home screen">
    <p>
        Tap the icon on the home screen to open this website. 
        The icon acts just like any app icons on your home screen, so 
        just tap it anytime you want to access ETravel website.
    </p>
</nz-card>
